extends layout

block content
    h1= title
    p Redirected After OAuth2 Authentication
    p State: #{state}
    p Code: #{code}
    p Access Token: #{access_token}
    p Refresh Token: #{refresh_token}
    p Token Type: #{token_type}
    p Expires In: #{expires_in}
    p Scope: #{scope}







